<!-- test component -->

<div {{/* style="border:solid 0px gray;margin:8px;padding:8px;" */}} class="pager_main">

  {{/*<!--
          <div style="color:#333;display:none" >
            <strong>DEVELOPMENT MESSAGE:</strong><br>
            CurrentItem: {{.Current}},<br>
            Total: {{.Total}},<br>
            PageItems: {{.PageItems}}<br>
          </div>
          --> */}}

  <div style="margin:4px;">
    {{.PageCursorMessage}}
  </div>
  
  <div>
    <a class="btn_c_s" href="{{$.CreateFirstPagerLink}}">{{.Msg "firstpage"}}</a>
    <span>
      <range source=".PageNumbers">
        <if test="$.IsCurrentPage .">
          <a href="{{$.CreatePagerLink .}}" class="cur">{{.PageNumber}}</a>
          <else>
            <a href="{{$.CreatePagerLink .}}">{{.PageNumber}}</a>
          </else>
        </if>
      </range>
    </span>
    <a class="btn_c_s" href="{{$.CreateLastPagerLink}}">{{.Msg "lastpage"}}</a>
  </div>
</div>
