<div>
  <h2>Templates:</h2>

  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th colspan="2">Key:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{range .Templates}}
      <tr>
        <td colspan="2">
          <!-- TODO: "()" in context should be automatically added in transfer.go -->
          <!-- id is not used here -->
          <t:a tid="DetailLink" event="TemplateDetail" context="(.Key | encode)" label=".Key"
               target="_blank"/>
          <if t=".Seg.Blocks">
            <span style="color:#999;font-size:10px;margin-left:20px;">Blocks: {{len .Seg.Blocks}}</span>
          </if>
          <!-- TODO How to deal with component content-->
        </td>
        <!-- <td rowspan="2"><a href="/got/status.ClickTemplate/[[t.Key]]">[[t.Key]]</a></td> -->
        <td>Key: </td>
        <td></td>
        <td></td>
      </tr>

      <if t=".Seg.Blocks">
        {{range .Seg.Blocks}}
        <tr>
          <td style="width:20px;"></td>
          <td>{{.ID}} > {{.ContentTransfered}}</td>
        </tr>
        {{end}}
      </if>
      
      {{end}}
    </tbody>
  </table>

  <script type="text/javascript">

// 这里这些东西是否可以自动生成？

  </script>

  

</div>
